body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #808080;
    color: white;
}

header {
    background-color: #ffa500;
    color: white;
    padding: 0px;
    height: 70px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
}

.hamburger {
    background-color: #ff8c00;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    margin-left: auto;
    margin-right: 20px;
    user-select: none; /* Mencegah teks bisa diseleksi */
  -webkit-tap-highlight-color: transparent; /* Menghapus efek highlight pada perangkat sentuh */
}

.hamburger:hover {
    background-color: #ffa500;
    transform: scale(1.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    transition: transform 0.3s ease;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

nav ul.show {
    transform: translateX(0);
}

nav ul li {
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.hamburger2 {
    background-color: #ff8c00;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    margin-left: auto;
    margin-right: 20px;
    user-select: none; /* Mencegah teks bisa diseleksi */
  -webkit-tap-highlight-color: transparent; /* Menghapus efek highlight pada perangkat sentuh */
}

.hamburger2:hover {
    background-color: #ffa500;
    transform: scale(1.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    transition: transform 0.3s ease;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

nav ul.show {
    transform: translateX(0);
}

nav ul li {
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.social-logo, .youtube-logo {
    width: 17px;
    height: auto;
    margin-right: 5px;
    transition: transform 0.3s;
    vertical-align: middle;
}

.social-logo:hover, .youtube-logo:hover {
    transform: scale(1.1);
}

.reportlogo {
    width: 13px;
    height: auto;
    margin-right: 5px;
    transition: transform 0.3s;
    vertical-align: middle;
}

.social-logo:hover, .youtube-logo:hover {
    transform: scale(1.1);
}

.button-container {
    display: flex;
    align-items: center;user-select: none; /* Mencegah teks bisa diseleksi */
  -webkit-tap-highlight-color: transparent; /* Menghapus efek highlight pada perangkat sentuh */
}

.outer-box {
    background-color: #6f6f6f; /* Warna latar untuk kotak luar */
    width: 100%; /* Lebar kotak luar */
    height: 40px; /* Tinggi kotak luar */
    display: flex; /* Flexbox untuk pusatkan konten */
    justify-content: center; /* Pusatkan secara horizontal */
    align-items: center; /* Pusatkan secara vertikal */
    box-shadow: 0px 0px 5px rgba(0,0,0,0.572); /* Menambahkan bayangan */
}

.outerdownload {
    position: relative; /* Membuat elemen menjadi referensi untuk ::before dan ::after */
    background-color: #6f6f6f; /* Warna latar untuk kotak luar */
    width: 100%; /* Lebar kotak luar */
    height: 30px; /* Tinggi kotak luar */
    display: flex; /* Flexbox untuk tata letak */
    justify-content: flex-start; /* Rata kiri secara horizontal */
    align-items: center; /* Pusatkan secara vertikal */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.572); /* Menambahkan bayangan */
    padding-left: 10px; /* Jarak dari kiri (opsional) */
    font-weight: bold; /* Membuat teks menjadi tebal */
    font-size: 12px; /* Ukuran teks */
    overflow: hidden; /* Menyembunyikan elemen pseudo di luar kotak */
    z-index: 1; /* Konten utama tetap di atas */
}

.outerdownload::before,
.outerdownload::after {
    content: ''; /* Konten kosong untuk pseudo-element */
    position: absolute; /* Membuat elemen tidak memengaruhi tata letak */
    height: 2px; /* Tinggi garis */
    pointer-events: none; /* Mencegah interaksi */
    z-index: 0; /* Berada di bawah konten utama */
}

.outerdownload::before {
    top: 0; /* Posisi di atas */
    left: -100%; /* Mulai dari luar elemen */
    width: 100%; /* Lebar garis */
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); /* Gradien dari pudar ke tebal */
    animation: slide-left 2s linear infinite; /* Animasi bergerak dari kiri ke kanan */
}

.outerdownload::after {
    bottom: 0; /* Posisi di bawah */
    right: -100%; /* Mulai dari luar elemen */
    width: 100%; /* Lebar garis */
    background: linear-gradient(to right, rgb(255,165,0), rgba(255, 255, 255, 0)); /* Gradien dari tebal ke pudar */
    animation: slide-right 2s linear infinite; /* Animasi bergerak dari kanan ke kiri */
}

@keyframes slide-right {
    0% {
        right: -100%;
    }
    100% {
        right: 100%;
    }
}

@keyframes slide-left {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

.telegramcontact {
    position: relative;
    background-color: #6f6f6f;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.572);
    padding-right: 15px;
    font-weight: bold;
    padding-left: 10px;
    font-size: 16px;
    color: #ffffff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 20px;
    overflow: hidden;
    box-shadow: 0 4px 0px rgb(83, 83, 83);
    transition: all 0.3s ease;
    text-decoration: none;
    z-index: 1;
}

/* Gaya untuk lingkaran */
.circle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    z-index: 0;
    animation: floatCircle 6s infinite linear;
}

/* Ukuran dan posisi awal unik untuk masing-masing lingkaran */
.circle1 {
    top: 10%;
    left: 10%;
    animation: moveCircle1 7s infinite ease-in-out;
}

.circle2 {
    top: 20%;
    left: 70%;
    animation: moveCircle2 5s infinite ease-in-out;
}

.circle3 {
    top: 60%;
    left: 30%;
    animation: moveCircle3 8s infinite ease-in-out;
}

.circle4 {
    top: 50%;
    left: 80%;
    animation: moveCircle4 6s infinite ease-in-out;
}

.circle5 {
    top: 70%;
    left: 20%;
    animation: moveCircle5 9s infinite ease-in-out;
}

/* Animasi untuk masing-masing lingkaran */
@keyframes moveCircle1 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(10px, 10px);
    }
    50% {
        transform: translate(-10px, 15px);
    }
    75% {
        transform: translate(15px, -10px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes moveCircle2 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-15px, -10px);
    }
    50% {
        transform: translate(15px, -20px);
    }
    75% {
        transform: translate(-10px, 15px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes moveCircle3 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(20px, 25px);
    }
    50% {
        transform: translate(-25px, -20px);
    }
    75% {
        transform: translate(15px, 10px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes moveCircle4 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(20px, -15px);
    }
    50% {
        transform: translate(-20px, 20px);
    }
    75% {
        transform: translate(10px, -10px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes moveCircle5 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-20px, 10px);
    }
    50% {
        transform: translate(10px, -20px);
    }
    75% {
        transform: translate(-15px, 15px);
    }
    100% {
        transform: translate(0, 0);
    }
}

/* Pastikan konten utama tetap di atas */
.telegramcontact img, 
.telegramcontact span {
    position: relative;
    z-index: 1;
}

/* Pastikan konten utama tetap di atas */
.telegramcontact img, 
.telegramcontact span {
    position: relative;
    z-index: 1;
}

.telegramcontact:active {
    transform: translateY(4px); /* Menggerakkan tombol ke bawah saat diklik (efek kedalam) */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Mengurangi bayangan saat diklik */
}

.icontelegramtutor {
    width: 25px; /* Ukuran gambar */
    height: 25px;
    margin-left: 8px; /* Jarak antara gambar dan teks */
}

.videoyt {
    background: rgb(255,165,0);
    width: 85%;
    height: 200px;
    margin: 20px auto;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center; /* Mengatur konten di tengah secara horizontal */
    align-items: center; /* Mengatur konten di tengah secara vertikal */
    flex-direction: column; /* Mengubah arah konten menjadi kolom */
    text-align: center; /* Menyelaraskan teks di tengah */
    box-shadow: 0px 0px 10px rgb(0,0,0);
}

.videoyt iframe {
    width: 95%; /* Menyesuaikan lebar iframe */
    height: 79%; /* Menyesuaikan tinggi iframe */
    border-radius: 10px;
}

.video-text {
    margin-bottom: 0px;
    margin-top: 5px;
    font-size: 15px; /* Ukuran teks */
    color: #fff; /* Warna teks */
    font-weight: bold; /* Membuat teks tebal */
    text-transform: uppercase; /* Membuat teks menjadi kapital semua */
}

.videoyt {
    background: rgb(255,165,0);
    width: 85%;
    height: 200px;
    margin: 20px auto;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center; /* Mengatur konten di tengah secara horizontal */
    align-items: center; /* Mengatur konten di tengah secara vertikal */
    flex-direction: column; /* Mengubah arah konten menjadi kolom */
    text-align: center; /* Menyelaraskan teks di tengah */
}
.textproblem {
    background: rgb(255,165,0);
    width: 200px;
    height: 200px;
    margin: 20px auto;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center; /* Mengatur konten di tengah secara horizontal */
    align-items: center; /* Mengatur konten di tengah secara vertikal */
    flex-direction: column; /* Mengubah arah konten menjadi kolom */
    text-align: center; /* Menyelaraskan teks di tengah */
}

.left-image {
    width: 24px; /* Menentukan ukuran gambar */
    height: auto; /* Menjaga proporsi gambar */
    margin-left: 16px;
   margin-right: 10px;
}

.rounded-box {
        
    border-radius: 5px; /* Radius untuk kotak dalam */
    height: 24px; /* Tinggi kotak dalam */
    background-color: #ffa500; /* Warna latar kotak dalam */
    overflow: hidden; /* Menghindari konten keluar */
    width: 100%; /* Lebar kotak dalam */
    text-align: center; /* Teks rata tengah */
    margin-left: auto;
    display: flex; /* Flexbox untuk konten dalam */
    align-items: center; /* Pusatkan konten secara vertikal */
}

.marquee {
    white-space: nowrap;
    animation: marquee 10s linear infinite;
    font-size: 13px;
    text-align: center;
}

@keyframes marquee {
    from {
        transform: translateX(50%);
    }
    to {
        transform: translateX(-100%);
    }
}

.button {
    padding: 10px; /* Adjust padding to match .long-button */
    background: white;
    text-align: center;
    display: inline-block;
    font-size: 5px; /* Adjust font size to match .long-button */
    text-transform: uppercase;
    position: relative;
    width: 100%; /* Match the width of .long-button */
    height: 42px;
    border-radius: 5px; /* Match border-radius of .long-button */
    margin: 5px auto; /* Match margin to center the button */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
    will-change: transform;
}

.button-mat {
    color: #5533ff;
    border: 0px transparent;
    border-radius: 5px; /* Match border-radius of .long-button */
    transition: 0.3s ease-in-out;
    transition-delay: 0.35s;
    overflow: hidden;
}

.button-mat:before {
    content: "";
    display: block;
    background: #ffa500;
    position: absolute;
    width: 200%;
    height: 500%;
    border-radius: 100%;
    transition: 0.36s cubic-bezier(0.4, 0, 1, 1);
}

.button-mat:hover .psuedo-text {
    color: white;
}

.button-mat:hover {
    color: transparent;
}

.psuedo-text {
    color: #ffa500;
    position: relative;
    top: 0;
    height: 100%;
    width: 100%;
    display: inline;
    font-size: 18px;
    font-weight: 700;
    transition: 0.25s ease-in;
    transition-delay: 0.1s;
}

.btn--5 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.btn--5:before {
    transform: translate(-120%, -50%) translateZ(0);
}

.btn--5:hover:before {
    transform: translate(-45%, -34%) translateZ(0);
}

.expired {
        color: #d90000;
        font-weight: 500;
}

.button2 {
    padding: 10px; /* Adjust padding to match .long-button */
    background: white;
    text-align: center;
    display: inline-block;
    font-size: 5px; /* Adjust font size to match .long-button */
    text-transform: uppercase;
    position: relative;
    width: 100%; /* Match the width of .long-button */
    height: 42px;
    margin-bottom: 4px;
    border-radius: 5px; /* Match border-radius of .long-button */
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
    will-change: transform;
}

.button-mat {
    color: #5533ff;
    border: 0px transparent;
    border-radius: 5px; /* Match border-radius of .long-button */
    transition: 0.3s ease-in-out;
    transition-delay: 0.35s;
    overflow: hidden;
}

.button-mat:before {
    content: "";
    display: block;
    background: #ffa500;
    position: absolute;
    width: 200%;
    height: 500%;
    border-radius: 100%;
    transition: 0.36s cubic-bezier(0.4, 0, 1, 1);
}

.button-mat:hover .psuedo-text {
    color: white;
}

.button-mat:hover {
    color: transparent;
}

.psuedo-text {
    color: #ffa500;
    position: relative;
    top: 0;
    height: 100%;
    width: 100%;
    display: inline;
    font-size: 18px;
    font-weight: 700;
    transition: 0.25s ease-in;
    transition-delay: 0.1s;
}

.btn--5 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.btn--5:before {
    transform: translate(-120%, -50%) translateZ(0);
}

.btn--5:hover:before {
    transform: translate(-45%, -34%) translateZ(0);
}

.expired {
        color: #d90000;
        font-weight: 500;
}

.long-button2 {
    background-color: #ffa500;
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    margin: 10px auto;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s, transform 0.3s;
    user-select: none; /* Mencegah teks bisa diseleksi */
  -webkit-tap-highlight-color: transparent; /* Menghapus efek highlight pada perangkat sentuh */
}

/* Styling untuk footer */
.footer-home {
    background-color: rgba(255, 165, 0, 0.2); /* Warna oranye dengan 70% opasitas */
    color: white; /* Warna teks */
    text-align: center; /* Rata tengah */
    padding: 20px 0; /* Ruang atas dan bawah */
    width: 100%; /* Lebar penuh */
    height: auto; /* Mengubah tinggi menjadi auto */
    margin-top: 1px;
    min-height: 200px; /* Tinggi minimum footer */
    position: relative; /* Tidak perlu mengubah ini */
    bottom: 0; /* Menjaga footer di bawah */
    border-top: 2px solid #ffa500; /* Menambahkan stroke di atas footer */
    display: flex; /* Menggunakan flexbox */
    flex-direction: column; /* Membuat elemen di dalam footer vertikal */
    align-items: center; /* Memusatkan elemen secara horizontal */
}

/* Styling untuk gambar dalam footer */
.footer-home img {
    width: 55px; /* Ukuran lebar gambar */
    height: auto; /* Menjaga proporsi gambar */
    margin-top: -5px;
    margin-bottom: 10px; /* Jarak di bawah gambar */
}

/* Styling untuk tautan di footer */
.footer-home a {
    color: #ffa500; /* Warna teks */
    text-decoration: none; /* Tanpa garis bawah */
    margin: 5px 0; /* Jarak vertikal antar tautan */
}

/* Container untuk tautan footer yang dapat dipindahkan */
.footer-links {
    display: flex; /* Menggunakan flexbox untuk memudahkan pemindahan */
    flex-direction: column; /* Menyusun tautan secara vertikal */
    align-items: center; /* Mengatur agar tautan berada di tengah */
    margin-top: -10px; /* Jarak di atas container */
    width: 100%; /* Agar container memenuhi lebar footer */
    padding-left: 30px; /* Menambahkan padding kiri untuk memindahkan teks ke dalam */
}

.footer-links a {
    text-decoration: none; /* Menghilangkan garis bawah bawaan */
    color: inherit; /* Warna teks sesuai tema bawaan */
    transition: all 0.3s ease; /* Animasi transisi halus */
}

.footer-links a:hover {
    text-decoration: underline; /* Menampilkan garis bawah saat hover */
    color: #007BFF; /* Warna biru saat hover */
}

.footer-links a:active {
    background-color: rgba(0,123,255,0.231); /* Warna biru muda saat diklik */
    border-radius: 3px; /* Memberikan efek sedikit melengkung */
}

.footer-links p {
    margin-top: 10px; /* Jarak di atas teks copyright */
    margin-bottom: 25px;
    color: #ffff; /* Warna teks copyright */
    text-align: center; /* Memastikan teks copyright rata tengah */
    width: 92%; /* Pastikan teks memenuhi lebar kontainer */
}

.footer-home {
    margin-top: 320px;
}

.footer-page2 {
    margin-top: 424px;
}

main {
    padding-top: 80px;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    user-select: none; /* Mencegah teks bisa diseleksi */
  -webkit-tap-highlight-color: transparent; /* Menghapus efek highlight pada perangkat sentuh */
}

.menu-box {
    background-color: #ffa500;
    color: black;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    width: 120%;
    margin-left: -38px;
    margin-right: -40px;
    font-weight: bold;
    box-sizing: border-box;
}

.slide-item {
    opacity: 0;
    transform: translateX(70px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

nav ul.show .slide-item {
    opacity: 1;
    transform: translateY(0);
}

nav ul.show .slide-item:nth-child(3) { transition-delay: 0.1s; }
nav ul.show .slide-item:nth-child(4) { transition-delay: 0.2s; }
nav ul.show .slide-item:nth-child(5) { transition-delay: 0.3s; }
nav ul.show .slide-item:nth-child(6) { transition-delay: 0.4s; }
nav ul.show .slide-item:nth-child(7) { transition-delay: 0.5s; }

.menu-text {
    font-size: 14px;
    color: white;
    font-weight: bold;
    user-select: none; /* Mencegah teks bisa diseleksi */
  -webkit-tap-highlight-color: transparent; /* Menghapus efek highlight pada perangkat sentuh */
}

.circle-text-container {
    display: flex;
    align-items: center;
    margin-top: -5px;
}

.dot {
    color: #ffa500;
    font-size: 30px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.request-text {
    color: white;
    font-weight: bold;
}

.request-image {
    position: relative;
    z-index: 1;
    margin-top: -25px;
}

.circular-box {
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: var(--box-size, 350px);
    height: var(--box-size, 320px);
    background-color: #ffa500;
    border-radius: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}

.text-box {
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 10px;
}

.input-box, .message-box {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #696969;
}

.input-box {
    height: 20px;
}

.message-box {
    height: 80px;
    resize: vertical;
}

.send-button {
    width: 90%;
    padding: 10px;
    background-color: #ff8c00;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.send-button:hover {
    background-color: #ffa500;
}
.kotakputih {
  display: flex; /* Mengaktifkan Flexbox */
  justify-content: center; /* Posisikan elemen secara horizontal di tengah */
  align-items: flex-start; /* Posisikan elemen di atas (bukan vertikal di tengah) */
  height: 100vh; /* Tinggi body sesuai tinggi viewport */
  margin: 0; /* Menghapus margin default */
}

.kotak_putih {
  background-color: #ffffff; /* Warna kotak putih */
  margin-top: 0px; /* Jarak atas */
  width: 300px; /* Lebar kotak */
  height: 450px; /* Tinggi kotak */
  border: 2px solid #d3d3d3; /* Garis tepi abu-abu */
  border-radius: 15px; /* Sudut melengkung */
  padding: 20px; /* Ruang dalam kotak */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Efek bayangan */
  text-align: center; /* Teks di tengah */
  font-size: 23px; /* Ukuran font */
  color: #6B737E; /* Warna teks */
  display: flex; /* Mengaktifkan Flexbox dalam kotak putih */
  flex-direction: column; /* Susun elemen secara vertikal */
  font-weight: 399;
  position: relative; /* Mengaktifkan positioning untuk anak seperti overlay */
  overflow: hidden; /* Mencegah elemen keluar dari batas kotak */
}

.overlay {
  position: absolute; /* Mengikuti parent kotak_putih */
  top: 50%; /* Posisi vertikal 50% dari atas */
  left: 50%; /* Posisi horizontal 50% dari kiri */
  width: 95%; /* Menyesuaikan dengan lebar parent */
  height: 97%; /* Menyesuaikan dengan tinggi parent */
  background-color: rgba(255, 255, 255, 0); /* Transparan */
  border: 1px solid #0000003e; /* Garis tepi abu-abu */
  border-radius: 15px; /* Mengikuti sudut melengkung parent */
  z-index: 1; /* Letakkan di atas semua elemen di kotak_putih */
  transform: translate(-50%, -50%); /* Geser titik pusat elemen ke tengah */
  pointer-events: none; /* Nonaktifkan respons klik pada overlay */
}

.text2 {
        text-align: center; /* Teks di tengah */
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 10px;
        font-weight: 300;
  font-size: 18px; /* Ukuran font */
  color: #767C86; /* Warna teks */
}

.tombolyoutube {
  display: inline-flex; /* Mengaktifkan Flexbox hanya di tombol */
  margin-top: 15px;
  padding: 12px 25px;
  background: #ffa500;
  height: 15px;
  color: white; /* Warna teks tombol */
  width: 240px;
  text-decoration: none; /* Menghapus garis bawah pada teks link */
  font-size: 18px;
  font-weight: bold;
  justify-content: center; /* Posisikan teks secara horizontal di tengah */
  align-items: center; /* Posisikan teks secara vertikal di tengah */
  border-radius: 8px; /* Sudut tombol lebih melengkung */
  box-shadow: 0 4px 0px rgb(255,147,9); /* Efek bayangan untuk kesan menonjol */
    transition: all 0.3s ease; /* Animasi transisi untuk efek */
  margin: 7px; /* Memastikan tombol berada di tengah kontainer */
  outline: none; /* Menghapus outline bawaan browser */
  border: none; /* Menghapus border jika ada */
  user-select: none; /* Mencegah teks bisa diseleksi */
  -webkit-tap-highlight-color: transparent; /* Menghapus efek highlight pada perangkat sentuh */
}

.tombolyoutube:focus,
.tombolyoutube:active {
  outline: none; /* Menghapus outline saat fokus atau aktif */
  border: none; /* Pastikan border tidak muncul */
}

.tombolyoutube:hover {
  transform: translateY(-3px); /* Efek angkat tombol saat hover */
  box-shadow: 0 4px 0px rgb(255,147,9); /* Efek bayangan untuk kesan menonjol */
  background: #ffa500;
}

.tombolyoutube:active {
  transform: translateY(3px); /* Efek saat tombol ditekan */
  box-shadow: 0 4px 4px rgba(255,147,9,0); /* Efek bayangan untuk kesan menonjol */
}

.progress-container {
  width: 270px; /* Lebar kotak progress bar */
  height: 10px;
  background-color: #e0e0e0;>
  border-radius: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden; /* Menyembunyikan bagian yang keluar */
  margin-left: 14px;
}

.progress-bar {
  height: 100%;
  background-color: #4caf50;
  width: 0%; /* Progress bar mulai dari 0% */
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  z-index: 2;
  transition: width 1s ease-in-out; /* Menambahkan transisi untuk efek animasi */
}

.progress-bar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%; /* Lebar garis lebih besar dari progress bar */
  height: 100%;
  background: repeating-linear-gradient(45deg, 
    rgba(255, 255, 255, 0.3) 0px, 
    rgba(255, 255, 255, 0.3) 5px,  /* Panjang setiap garis */
    transparent 5px, 
    transparent 10px
  );
  animation: moveLine 5s linear infinite; /* Animasi bergerak terus-menerus */
  z-index: 1;
}

@keyframes moveLine {
  0% {
    left: 0%; /* Mulai dari kiri */
  }
  100% {
    left: -100%; /* Bergerak ke kiri luar */
  }
}

.textunlock {
        font-weight: 500;
        margin-top: 13px;
        margin-bottom: 10px;
        font-size: 18px; /* Ukuran font */
}

.openlink {
  display: inline-flex; /* Mengaktifkan Flexbox hanya di tombol */
  margin-top: 15px;
  user-select: none; /* Mencegah teks bisa diseleksi */
  -webkit-tap-highlight-color: transparent; /* Menghapus efek highlight pada perangkat sentuh */
  padding: 12px 25px;
  background: #757373; /* Warna abu-abu sebagai default */
  height: 40px;
  color: white; /* Warna teks tombol */
  width: 240px;
  text-decoration: none; /* Menghapus garis bawah pada teks link */
  font-size: 18px;
  font-weight: bold;
  display: flex; /* Mengaktifkan Flexbox di tombol */
  justify-content: center; /* Posisikan teks secara horizontal di tengah */
  align-items: center; /* Posisikan teks secara vertikal di tengah */
  border-radius: 8px; /* Sudut tombol lebih melengkung */
  text-transform: uppercase; /* Mengubah teks menjadi kapital */
  transition: all 0.3s ease; /* Transisi efek hover */
  margin: 6px; /* Memastikan tombol berada di tengah kontainer */
  pointer-events: none; /* Disable klik tombol saat progress belum selesai */
}

.openlink.active {
  background: #4CAF50; /* Warna hijau setelah progress selesai */
  pointer-events: auto; /* Aktifkan klik tombol */
}

.openlink:hover {
  transform: translateY(-3px); /* Efek angkat tombol saat hover */
  background: #757373;
}

.openlink:active {
  transform: translateY(1px); /* Efek saat tombol ditekan */
}

.kotakjigox {
  background-color: #ffffff; /* Warna kotak putih */
  margin-top: 20px; /* Jarak atas */
  width: 281px; /* Lebar kotak */
  height: 75px; /* Menambah tinggi kotak agar teks berada di tengah secara vertikal */
  border: 1px solid #d3d3d3; /* Garis tepi abu-abu */
  border-radius: 15px; /* Sudut melengkung */
  display: flex; /* Mengaktifkan Flexbox dalam kotak */
  justify-content: center; /* Menyusun elemen secara horizontal di tengah */
  align-items: center; /* Menyusun elemen secara vertikal di tengah */
  text-align: center; /* Teks di tengah */
  font-size: 14px; /* Ukuran font lebih kecil */
  color: #6B737E; /* Warna teks */
  font-weight: 600; /* Menetapkan ketebalan font yang lebih wajar */
  margin: 9px; /* Memastikan tombol berada di tengah kontainer */
}

a {
    outline: none; /* Menghilangkan outline biru saat fokus */
    border: none;  /* Menghapus border jika ada */
    text-decoration: none; /* Menghilangkan garis bawah pada link */
    -webkit-tap-highlight-color: transparent; /* Menghapus efek highlight pada perangkat sentuh (Chrome/Safari) */
    user-select: none; /* Mencegah teks bisa diseleksi */
}

.garishumberger {
        background-color: #ffa500;
        height: 2px;
        width: 80%;
        margin: 1px auto;
        margin-top: -5px;
        margin-bottom: 5px;
}

.tomboltutor {
    background-color: #ffa500;
    color: black;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    height: 40px;
    width: 250px;
    margin-bottom: -5px;
    font-weight: bold;
    box-sizing: border-box;
    display: flex; /* Menggunakan Flexbox */
    justify-content: center; /* Menyusun elemen secara horizontal */
    align-items: center; /* Menyusun elemen secara vertikal */
    box-shadow: 0 4px 0px rgb(255,147,9); /* Efek bayangan untuk kesan menonjol */
    transition: all 0.3s ease; /* Animasi transisi untuk efek */
    text-decoration: none; /* Menghilangkan garis bawah pada link */
}

.tomboltutor:active {
    transform: translateY(4px); /* Menggerakkan tombol ke bawah saat diklik (efek kedalam) */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Mengurangi bayangan saat diklik */
}

.footer-home2 {
    background-color: rgba(255, 165, 0, 0.2); /* Warna oranye dengan 70% opasitas */
    color: white; /* Warna teks */
    text-align: center; /* Rata tengah */
    padding: 20px 0; /* Ruang atas dan bawah */
    width: 100%; /* Lebar penuh */
    height: auto; /* Mengubah tinggi menjadi auto */
    margin-top: 1px;
    min-height: 200px; /* Tinggi minimum footer */
    position: relative; /* Tidak perlu mengubah ini */
    bottom: -80px; /* Menjaga footer di bawah */
    border-top: 2px solid #ffa500; /* Menambahkan stroke di atas footer */
    display: flex; /* Menggunakan flexbox */
    flex-direction: column; /* Membuat elemen di dalam footer vertikal */
    align-items: center; /* Memusatkan elemen secara horizontal */
}

/* Styling untuk gambar dalam footer */
.footer-home2 img {
    width: 55px; /* Ukuran lebar gambar */
    height: auto; /* Menjaga proporsi gambar */
    margin-top: -5px;
    margin-bottom: 15px; /* Jarak di bawah gambar */
}

/* Styling untuk tautan di footer */
.footer-home2 a {
    color: #ffa500; /* Warna teks */
    text-decoration: none; /* Tanpa garis bawah */
    margin: 5px 0; /* Jarak vertikal antar tautan */
}

/* Container untuk tautan footer yang dapat dipindahkan */
.footer-links {
    display: flex; /* Menggunakan flexbox untuk memudahkan pemindahan */
    flex-direction: column; /* Menyusun tautan secara vertikal */
    align-items: center; /* Mengatur agar tautan berada di tengah */
    margin-top: -10px; /* Jarak di atas container */
    width: 100%; /* Agar container memenuhi lebar footer */
    padding-left: 30px; /* Menambahkan padding kiri untuk memindahkan teks ke dalam */
}

.footer-links a {
    text-decoration: none; /* Menghilangkan garis bawah bawaan */
    color: inherit; /* Warna teks sesuai tema bawaan */
    transition: all 0.3s ease; /* Animasi transisi halus */
}

.footer-links a:hover {
    text-decoration: underline; /* Menampilkan garis bawah saat hover */
    color: #007BFF; /* Warna biru saat hover */
}

.footer-links a:active {
    background-color: rgba(0,123,255,0.231); /* Warna biru muda saat diklik */
    border-radius: 3px; /* Memberikan efek sedikit melengkung */
}

.footer-links p {
    margin-top: 10px; /* Jarak di atas teks copyright */
    margin-bottom: 25px;
    color: #ffff; /* Warna teks copyright */
    text-align: center; /* Memastikan teks copyright rata tengah */
    width: 92%; /* Pastikan teks memenuhi lebar kontainer */
}

.footer-home2 {
    margin-top: 320px;
}

.footer-page2 {
    margin-top: 424px;
}

main {
    padding-top: 80px;
}

/* From Uiverse.io by CristianMontoya98 */ 
.button-kontener {
    display: flex; /* Menggunakan Flexbox */
    gap: 8px; /* Mengatur jarak antar tombol, Anda bisa sesuaikan angkanya */
    margin-left: 15px;
    margin-top: 18px;
    margin-bottom: 12px;
}

.test {
    width: 84px; /* Lebar tombol */
    height: 80px; /* Tinggi tombol */
    background: #ffa500;
    color: white;
    border: none;
    border-radius: 5px; /* Sudut membulat */
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    z-index: 1;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.473); /* Default box-shadow */
    overflow: hidden; /* Membatasi animasi hanya di dalam tombol */
    display: flex; /* Agar teks berada di tengah tombol */
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.3s ease; /* Animasi perubahan box-shadow */
}

.test:hover {
    color: black;
}

.test.clicked {
    box-shadow: 0px 0px rgba(0, 0, 0, 0.473); /* Box-shadow tetap setelah diklik */
}

.test:after {
    content: "";
    background: #ffffff;
    position: absolute;
    z-index: 0; /* Letakkan animasi di bawah teks */
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s ease-in-out;
    clip-path: inset(0 0 0 0); /* Membatasi animasi ke dalam elemen */
}

.test:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    transition: all 0.5s ease-in-out;
}

.hidden-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #ffa500; /* Warna teks */
    opacity: 0; /* Awalnya tidak terlihat */
    z-index: 1; /* Teks di atas animasi */
    transition: opacity 0.3s ease-in-out; /* Animasi munculnya teks */
}

.test:hover .hidden-text {
    opacity: 1; /* Teks muncul saat hover */
}

.containerscript {
  display: flex;
  align-items: center;
  width: 90%;
  cursor: pointer;
  background-color: rgb(53,53,53);
  padding: 5px 15px;
  margin-top: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  
}

.boxscript {
  width: 5px;
  height: 25px;
  background-color: #ffa500;
  margin-right: 10px;
}

.textacript {
  font-size: 13px;
  margin-right: 10px;
  font-weight: bold;
}

.arrowscript {
  width: 30px;   /* Atur ukuran gambar panah */
  height: 25px;
  transition: transform 0.3s ease;
}

.boxes-container {
  display: none; /* Sembunyikan box saat halaman pertama kali dimuat */
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 500px;
  flex-direction: row; /* Menyusun box dalam satu baris */
  gap: 10px;
  overflow-x: auto; /* Scroll horizontal */
  width: 95%; /* Lebar penuh */
  white-space: nowrap; /* Mencegah elemen pindah ke baris berikutnya */
}

.box {
  width: 250px; 
  height: 390px;
  margin-bottom: 20px;
  background-color: #333;
  border-radius: 10px;
  flex-shrink: 0;
  overflow: hidden; /* Menghindari overflow */
}

.containerdalambox {
  padding: 10px;
  max-width: 100%;
  height: 100%; /* Menyesuaikan tinggi container */
  box-sizing: border-box;
  background-color: #2a2a2a;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: white;
  overflow-y: auto; /* Scroll jika konten melebihi tinggi */
}

.headerdalambox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.headerdalambox img {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.headerdalambox div {
  font-size: 14px;
  font-weight: 600;
}

.headerdalambox div span {
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: #aaa;
}

.subtitledalambox {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 5px;
  font-weight: 500;
}

.infodalambox {
  font-size: 12px;
  margin-bottom: 8px;
}

.infodalambox a {
  color: #ffffff;
  text-decoration: none;
}

.infodalambox a:hover {
  text-decoration: underline;
}

.dividerdalambox {
  border-bottom: 1px solid #444;
  margin: 8px 0;
}

.listdalambox {
  list-style: none;
  padding: 0;
  font-size: 14px;
  margin: 0;
}

.listcaradownload {
  list-style: none;
  font-size: 14px;
  text-align: center;  /* Memusatkan teks dalam list */
  margin: 0;  /* Menghilangkan margin default */
  padding: 0;  /* Menghilangkan padding default */
}

.link-virtual {
  color: #00aaff; /* Warna biru untuk link virtual */
  text-decoration: none;
}

.link-virtual:hover {
  text-decoration: underline;
}

.link-gg {
  color: #00aaff; /* Warna merah untuk link GG */
  text-decoration: none;
}

.link-gg:hover {
  text-decoration: underline;
}

.linkcaradownload {
  color: #00aaff; /* Warna biru untuk link virtual */
  text-decoration: none;
}

.linkcaradownload:hover {
  text-decoration: underline;
}

.textkurung {
  color: #ff6347; /* Warna teks dalam kurung */
  font-size: 10px;
  font-style: italic; /* Menambahkan gaya miring */
  font-weight: bold; /* Menambahkan ketebalan font */
  display: inline-block; /* Agar dapat diatur posisinya */
  vertical-align: middle; /* Menjaga agar teks berada di tengah secara vertikal */
}

.footerdalambox {
  font-size: 12px;
  margin-top: 10px;
}

.footerdalambox a {
  color: #00aaff;
  text-decoration: none;
}

.footerdalambox a:hover {
  text-decoration: underline;
}

.download-container {
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center;     /* Vertical center */
  height: 20px; /* Adjust as necessary */
  margin-top: 40px;
}

.buttondownload {
  --width: 100px;
  --height: 35px;
  --tooltip-height: 25px;
  --tooltip-width: 80px;
  --gap-between-tooltip-to-button: 15px;
  --button-color: #ffa500;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 2px #000000;
  font-family: "Arial";
  transition: background 0.3s;
}

.buttondownload::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: var(--tooltip-color);
  font-size: 0.9rem;
  color: #111;
  border-radius: .25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.buttondownload::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: var(--tooltip-color);
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.buttondownload::after,
.buttondownload::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper,
.text,
.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  top: 0;
}

.text,
.icon {
  transition: top 0.5s;
}

.icon {
  text-decoration: none;  /* Hilangkan garis bawah */
  color: inherit;  /* Warna sesuai elemen induk */
  top: 100%;  /* Posisi awal ikon */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: top 0.5s;
}

.icon svg {
  pointer-events: none;  /* Hindari efek hover pada SVG */
  width: 24px;
  height: 24px;
}

.buttondownload:hover {
  background: #ffa500;
}

.buttondownload:hover .text {
  top: -100%;
}

.buttondownload:hover .icon {
  top: 0;
}

.buttondownload:hover::before,
.buttondownload:hover::after {
  opacity: 1;
  visibility: visible;
}

.buttondownload:hover::after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.buttondownload:hover::before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}